stages:
  - test
  - deploy


test:
  stage: test
  tags: [local]
  rules:
    - if: '$CI_COMMIT_BRANCH'
  script:
    - cd "$CI_PROJECT_DIR"
    - docker build -t "jwt-and-oauth-project:test" .
    - docker run --rm "jwt-and-oauth-project:test" pytest -q

deploy:
  stage: deploy
  tags: [local]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  script:
    - docker compose -f docker-compose.yml -p jwt-and-oauth-project up -d --build --remove-orphans
    - docker compose -f docker-compose.yml -p jwt-and-oauth-project ps
